{{!< default}}

<style>
    .feed {
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        line-height: 1;
        overflow: hidden;
        padding: 0.8rem 0;
        position: relative;
    }

    .feed-calendar {
        color: #4C566A;
        display: -webkit-box;
        display: flex;
        font-size: 0.8rem;
        margin-right: 1.5rem;
        white-space: nowrap;
    }

    a {
        color: #2E3440;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .postlist {
        color: #2E3440;
        text-decoration: none;
        -webkit-transition: background 1s;
        /* For Safari 3.0 to 6.0 */
        transition: background 1s;
        /* For modern browsers */
    }

    .postlist:hover {
        color: #2E3440;
        text-decoration: none;
        background: #D8DEE9;
        font-weight: 600;
    }

    .icon {
        height: 20px;
        width: 20px;
    }

    .feed-icon {
        color: #BF616A;
        height: 16px;
        right: 0;
        width: 16px;
    }

    .posthr {
        margin: 0;
    }

    .col {
        display: flex;
    }
    .headercolor{
        color: #4C566A;
    }
</style>

<main>
    <h3 class="headercolor">Resonance entries</h3>
    <hr>
    <div class="container">
        {{#foreach posts}}
        <a href="{{url}}">
            <article class="feed postlist row">
                {{!-- Post date --}}
                <div class="col">
                    <div class="feed-calendar">
                        {{date format="MMMM DD"}}
                    </div>
                    <div>
                        <span class="badge badge-danger">{{ tags autolink="false"}}</span>
                    </div>


                </div>

                {{!-- Post title --}}
                <div class="col-6">
                    {{ title }}
                </div>
                {{!-- Post reading time --}}
                <div class="col justify-content-end">
                    {{reading_time}}
                    <svg class="icon feed-icon">
                        <use xlink:href="#chevron-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                id="chevron-right">
                                <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
                            </svg></use>
                    </svg>
                </div>

            </article>
            <hr class="posthr">
        </a>
        {{/foreach}}
    </div>
    {{!-- Posts pagination - loads partials/pagination.hbs --}}
    {{pagination}}
</main>