{{!< default}}

<main>
    {{#foreach posts}}
    {{date format="DD MMMM YY"}} <span class="badge badge-secondary">{{ tags autolink="false"}}</span>
    <a href="{{url}}">{{ title }}</a>
    <hr>

    {{/foreach}}
</main>

{{pagination}}