<article class="post-card {{post_class}}">
    <div class="feed-calendar">
        <span class="post-card-byline-date"><time
                datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>

    </div>

    <div class="post-card-content">

        <a class="post-card-content-link" href="{{url}}">

            <header class="post-card-header">
                {{#if primary_tag  autolink="True"}}
                {{#primary_tag}}
                <span class="post-card-primary-tag">{{name}}</span>
                {{/primary_tag}}
                {{/if}}
                <span class="bull">&bull;</span>
                <span class="post-card-title">{{title}}</span>
                    <span class="post-card-byline-content">
                        {{reading_time}}
                    </span>


                <span class="icon">
                    <svg class="icon feed-icon">
                        <use xlink:href="#chevron-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                                id="chevron-right">
                                <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
                            </svg></use>
                    </svg>
                </span>



            </header>
        </a>



    </div>{{!--/.post-card-content--}}

</article>